// @todo Seco - refactoring
.autocomplete-search
    position: fixed
    top: 0
    left: 25%
    z-index: 999999
    width: 50%
    height: 100%
    background-color: white
    padding: 20px
    box-shadow: 0 0 100px black
