.page-blog
    $height: 165px
    $height-sm: 185px
    $height-xl: 250px

    .page-header
        .wrapper
            @screen lg
                @apply w-4/6
                @apply m-auto

            @screen xl
                @apply max-w-griddw

    &.blog
        .wrapper
            width: 100%
            height: 49.86vw
            @apply py-4
            @screen md
                height: 32.55vw
                width: 70%
                padding-top: 6px
            @screen xl
                height: 357px
                width: 769px

    .blog-posts
        @apply px-6
        @screen lg
            @apply px-0

        .blog-post-item
            @apply w-full
            @apply my-5

            @screen md
                @apply my-3

            @screen lg
                @apply w-4/6
                @apply m-auto
                @apply my-3

            .image
                @screen md
                    @apply w-1/2
                    @apply pr-3
                    position: relative

                &:before
                    @screen md
                        content: ''
                        position: absolute
                        z-index: 1
                        bottom: 0
                        left: 0
                        width: 6px
                        height: 64.73%
                        @apply bg-brown

                &:after
                    @screen md
                        content: ''
                        position: absolute
                        z-index: 1
                        top: 0
                        right: 6px
                        width: 6px
                        height: 35.26%
                        @apply bg-leaf

                a
                    position: relative

                    &:hover
                        picture img
                            @screen md
                                opacity: .5 !important

            .content
                @apply w-full
                @screen md
                    @apply w-1/2
                    @apply pl-3

            .title
                @apply mb-3
                font-weight: 600
                line-height: 22px
                a
                    text-decoration: none

            .date,
            .summary
                clear: left
                display: block
                font-family: $font-secondary
                line-height: 23px

    .blog-posts-featured
        @apply w-full
        @apply px-6
        position: relative
        top: 15px
        margin-top: -$height

        @screen sm
            margin-top: -$height-sm
            margin-bottom: 15px

        @screen lg
            @apply w-4/6
            @apply m-auto
            margin-top: -$height-sm
            margin-bottom: 15px

        @screen xl
            margin-top: -$height-xl + 25px

        .blog-post-featured-item
            @apply w-full
            @apply my-5

            @screen md
                @apply w-1/2

                &:first-of-type
                    @apply pr-2

                &:last-of-type
                    @apply pl-2

            .image
                @apply w-full
                @apply mb-2
                position: relative

                &:after
                    content: ''
                    position: absolute
                    z-index: 1
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 6px
                    @apply bg-brown

            .content
                @apply w-full

            .title
                @apply mb-3
                font-weight: 600
                line-height: 22px
                a
                    text-decoration: none

            .date,
            .summary
                clear: left
                display: block
                font-family: $font-secondary
                line-height: 23px

.blog-single.section
    @apply pt-6
    @apply px-6
    @apply m-auto
    @screen md
        max-width: 70%
        @apply px-0
        @apply pt-16

    @screen lg
        @apply pt-32

    @screen xl
        max-width: 769px
        @apply pt-40
        @apply px-0

    h1
        margin-bottom: 35px

    .date
        @apply border-t-6
        @apply border-snow

    .separator
        margin-left: 70px

    p
        @apply mt-4
        @screen xl
            max-width: 670px

    .prev-next-buttons
        margin-left: 70px
        margin-top: 50px
        @screen xl
            padding-top: 172px
            @apply mb-4

        .prev-button,.next-button
            width: auto

    .prev-button:after,.next-button:after
        content: ''
        background-image: url('../../images/icon_arrowrg.svg')
        background-position: center
        @apply bg-snow
        @apply rounded-r-full
        height: 50px
        width: 35px
        position: absolute
        background-repeat: no-repeat

    .prev-button:after
        transform: rotate(180deg)
        bottom: -5px
        right: 35px
            //@screen xl
            //    right: 65px

    .next-button:after
        bottom: 20px
        right: 0

    .share-button
        width: auto
        margin-left: 70px
        margin-top: 10px
        margin-bottom: 45px
        @screen xl
            @apply my-4
            @apply mb-56

        &:before
            content: ''
            background-image: url('../../images/icon_share.svg')
            height: 50px
            width: 50px
            position: absolute
            background-repeat: no-repeat
            background-position: 12px center
            top: 0
            left: -70px
            @apply bg-snow
            @apply p-6
            @apply rounded-full

    .read-more
        width: auto
        @apply bg-transparent
        max-width: 190px
        text-align: left

.page-header
    &.blog-single
        height: 49.86vw
        @screen md
            height: 250px

        .separator
            @apply mx-6
            @screen md
                width: 200px
                left: calc(50vw - 200px)
            @screen xl
                width: 300px
                left: calc(50vw - 300px)

        .separator:first-child
            @screen md
                left: calc(50vw - 300px)
            @screen xl
                left: calc(50vw - 600px)

        .wrapper
            width: 100%
            height: 49.86vw
            @apply py-4
            @screen md
                height: 32.55vw
                width: 70%
                padding-top: 6px
            @screen xl
                height: 357px
                width: 769px