.blog-single.section
    @apply pt-6
    @apply px-6
    @apply m-auto
    @screen md
        max-width: 70%
        @apply px-0
        @apply pt-16

    @screen lg
        @apply pt-32

    @screen xl
        max-width: 769px
        @apply pt-40
        @apply px-0

    h1
        margin-bottom: 35px

    .date
        @apply border-t-6
        @apply border-snow

    .separator
        margin-left: 70px

    p
        @apply mt-4
        @screen xl
            max-width: 670px

    .prev-next-buttons
        margin-left: 70px
        margin-top: 60px
        @screen xl
            padding-top: 172px
            @apply mb-4

        .prev-button,.next-button
            width: auto
            position: absolute

    .prev-button:after,.next-button:after
        content: ''
        background-image: url('../../images/icon_arrowrg.svg')
        background-position: center
        @apply bg-snow
        @apply rounded-r-full
        height: 50px
        width: 35px
        position: absolute
        background-repeat: no-repeat

    .prev-button:after
        transform: rotate(180deg)
        bottom: -5px
        right: 35px
            //@screen xl
            //    right: 65px

    .next-button:after
        bottom: 20px
        right: 0

    .share-button
        width: auto
        margin-left: 70px
        margin-top: 10px
        margin-bottom: 45px
        @screen xl
            @apply my-4
            @apply mb-56

        &:before
            content: ''
            background-image: url('../../images/icon_share.svg')
            height: 50px
            width: 50px
            position: absolute
            background-repeat: no-repeat
            background-position: 12px center
            top: 0
            left: -70px
            @apply bg-snow
            @apply p-6
            @apply rounded-full

    .read-more
        width: auto
        @apply bg-transparent
        max-width: 190px
        text-align: left
        margin: initial

.page-header
    &.blog-single
        height: 49.86vw
        @screen md
            height: 250px

        .separator
            @apply mx-6
            @screen md
                width: 200px
                left: calc(50vw - 200px)
            @screen xl
                width: 300px
                left: calc(50vw - 300px)

        .separator:first-child
            @screen md
                left: calc(50vw - 300px)
            @screen xl
                left: calc(50vw - 600px)

        .wrapper
            width: 100%
            height: 49.86vw
            @apply py-4
            @screen md
                height: 32.55vw
                width: 70%
                padding-top: 6px
            @screen xl
                height: 357px
                width: 769px