.page-blog {
  $height: 165px;
  $height-sm: 185px;
  $height-xl: 250px;

  .page-header {
    .wrapper {
      @screen lg {
        @apply w-4/6;
        @apply m-auto;
      }

      @screen xl {
        @apply max-w-griddw;
      }
    }
  }
  &.blog {
    .wrapper {
      width: 100%;
      height: 49.86vw;
      @apply py-4;

      @screen md {
        height: 32.55vw;
        width: 70%;
        padding-top: 6px;
      }

      @screen xl {
        height: 357px;
        width: 769px;
      }
    }
  }
  .main {
    @apply mb-32;
  }
  .blog-posts {
    @apply w-full;
    @apply p-0;

    @screen md {
      @apply px-6;
    }

    @screen lg {
      @apply w-4/6;
      @apply m-auto;
    }

    .blog-post-item {
      @apply w-full;
      @apply py-8;
      border-bottom: 1px solid #efefef;

      .image {
        @apply w-full;
        @apply mb-2;
        position: relative;
        @screen md {
          @apply w-1/2;
          @apply pr-3;
        }

        &:before {
          @screen md {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 6px;
            height: 64.73%;
            @apply bg-brown;
          }
        }
        &:after {
          @screen md {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            right: 6px;
            width: 6px;
            height: 35.26%;
            @apply bg-leaf;
          }
        }
        a {
          position: relative;

          &:hover {
            picture img {
              @screen md {
                opacity: 0.5 !important;
              }
            }
          }
        }
      }
      .content {
        @apply w-full;

        @screen md {
          @apply w-1/2;
          @apply pl-3;
        }

        &[data-image-exist='false'] {
          @screen md {
            @apply w-full;
          }
        }
      }
      .title {
        @apply mb-3;
        font-weight: 600;
        line-height: 22px;
        a {
          text-decoration: none;
        }
      }
      .date,
      .summary {
        clear: left;
        display: block;
        font-family: $font-secondary;
        line-height: 23px;
      }
    }
  }
  .blog-posts-featured {
    @apply w-full;
    position: relative;
    top: 15px;
    margin-top: -$height;

    @screen sm {
      margin-top: -$height-sm;
      margin-bottom: 15px;
    }

    @screen lg {
      @apply w-4/6;
      @apply m-auto;
      margin-top: -$height-sm;
      margin-bottom: 15px;
    }

    @screen xl {
      margin-top: -$height-xl + 25px;
    }

    .blog-post-featured-item {
      @apply w-full;
      @apply my-5;

      @screen md {
        @apply w-1/2;

        &:first-of-type {
          @apply pr-2;
        }
        &:last-of-type {
          @apply pl-2;
        }
      }
      .image {
        @apply w-full;
        @apply mb-2;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 6px;
          @apply bg-brown;
        }
      }
      .content {
        @apply w-full;
      }
      .title {
        @apply mb-3;
        font-weight: 600;
        line-height: 22px;
        a {
          text-decoration: none;
        }
      }
      .date,
      .summary {
        clear: left;
        display: block;
        font-family: $font-secondary;
        line-height: 23px;
      }
    }
  }
}
