.btn
  @apply text-black 
  @apply text-center 
  @apply leading-tight 
  @apply no-underline 
  @apply rounded-full 
  @apply py-3 
  @apply px-5 
  @apply text-lg 
  @apply font-medium
  @apply block
  &:disabled
    @apply bg-grey
    cursor: not-allowed
    &:hover
      @apply bg-grey

.btn-tight
  @apply py-2
  @apply px-3
  @apply text-left
  @apply uppercase
  @apply bg-snow
  @apply text-sm
  @apply text-black
  @apply font-bold
  @apply tracking-wide
  &:hover
    @apply bg-celeste
    @apply text-white
  &:before
    content: '▶'
    @apply pr-3



.btn-full
  @apply w-3/4
  @apply mx-auto
  @screen lg
    width: 320px
    min-width: 320px

.btn-celeste
  @apply bg-celeste 
  @apply border-0

.btn-celeste:hover
  @apply bg-leaf 
  @apply text-black

.btn-arrow
  @apply relative
  @apply pr-12

.btn-arrow:after
  content: ''
  background-image: url('../../images/icon_arroww.svg')
  background-size: 22px 22px
  height: 22px
  width: 22px
  position: absolute
  background-repeat: no-repeat
  top: 13px
  right: 13px
  @apply bg-left
.btn-arrow-back
  @apply relative
  @apply pl-12
.btn-arrow-back:after
  content: ''
  background-image: url('../../images/icon_arroww.svg')
  transform: rotate(-180deg);
  background-size: 22px 22px
  height: 22px
  width: 22px
  position: absolute
  background-repeat: no-repeat
  top: 13px
  left: 13px
  @apply bg-left
  

.btn-arrow-only
  @apply bg-snow

  @apply p-4
  @apply h-12
  @apply w-12
  @apply mr-0
  @apply ml-auto
  
  @screen md
    @apply mb-0

.btn-arrow-only:after
  content: ''
  background-image: url('../../images/icon_arrowg.svg')
  background-size: contain
  height: 26px
  width: 26px
  position: absolute
  background-repeat: no-repeat
  top: 10px
  right: 10px

.btn-fb
  @apply relative
.btn-fb:before
  &:before
  content: ''
  background-image: url('../../images/icon_FB.svg')
  background-size: 15px 29px
  position: absolute
  background-repeat: no-repeat
  bottom: 1px
  left: 1px
  @apply bg-bottom
  @apply border-white
  @apply border-2
  @apply rounded-full
  @apply pt-10
  @apply px-5
.btn-share
  @apply bg-transparent
  width: 50px
  height: 50px
  margin: 0

  &:before
    content: ''
    background-image: url('../../images/icon_share.svg')
    height: 50px
    width: 50px
    position: absolute
    background-repeat: no-repeat
    background-position: 12px center
    top: 6px
    left: 6px
    @apply bg-snow
    //@apply p-6
    @apply rounded-full
.ld-ext-right,
.ld-ext-left,
.ld-ext-bottom,
.ld-ext-top,
.ld-over,
.ld-over-inverse,
.ld-over-full,
.ld-over-full-inverse 
  position: relative
  transition: all 0.3s
  transition-timing-function: ease-in

.ld-ext-right > .ld,
.ld-ext-left > .ld,
.ld-ext-bottom > .ld,
.ld-ext-top > .ld,
.ld-over > .ld,
.ld-over-inverse > .ld,
.ld-over-full > .ld,
.ld-over-full-inverse > .ld 
  position: absolute
  top: 50%
  left: 50%
  width: 1em
  height: 1em
  margin: -0.5em
  opacity: 0
  z-index: -1
  transition: all 0.3s
  transition-timing-function: ease-in

.ld-ext-right > .ld > *,
.ld-ext-left > .ld > *,
.ld-ext-bottom > .ld > *,
.ld-ext-top > .ld > *,
.ld-over > .ld > *,
.ld-over-inverse > .ld > *,
.ld-over-full > .ld > *,
.ld-over-full-inverse > .ld > * 
  width: 1em
  height: 1em
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-0.5em, -0.5em)

.ld-ext-right.running > .ld,
.ld-ext-left.running > .ld,
.ld-ext-bottom.running > .ld,
.ld-ext-top.running > .ld,
.ld-over.running > .ld,
.ld-over-inverse.running > .ld,
.ld-over-full.running > .ld,
.ld-over-full-inverse.running > .ld 
  opacity: 1
  z-index: auto
  visibility: visible

.ld-ext-right > .ld 
  top: 50%
  left: auto
  right: 1.25em

.ld-ext-left > .ld 
  top: 50%
  right: auto
  left: 1.25em

.ld-ext-bottom.running 
  padding-bottom: 2.5em !important

.ld-ext-bottom > .ld 
  top: auto
  left: 50%
  bottom: 1.25em

.ld-ext-top.running 
  padding-top: 2.5em !important

.ld-ext-top > .ld 
  bottom: auto
  left: 50%
  top: 1.25em

.ld-over:before,
.ld-over-inverse:before,
.ld-over-full:before,
.ld-over-full-inverse:before 
  content: ' '
  display: block
  opacity: 0
  position: absolute
  z-index: -1
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: all 0.3s
  transition-timing-function: ease-in
  background: rgba(240, 240, 240, 0.8)

.ld-over.running > .ld,
.ld-over-inverse.running > .ld,
.ld-over-full.running > .ld,
.ld-over-full-inverse.running > .ld 
  z-index: 4001

.ld-over.running:before,
.ld-over-inverse.running:before,
.ld-over-full.running:before,
.ld-over-full-inverse.running:before 
  opacity: 1
  z-index: 4000
  display: block

.ld-over-full.running > .ld,
.ld-over-full-inverse.running > .ld,
.ld-over-full.running:before,
.ld-over-full-inverse.running:before 
  position: fixed

.ld-over-full > .ld 
  color: rgba(0, 0, 0, 0.8)

.ld-over-full:before,
.ld-over-full-inverse:before 
  background: rgba(255, 255, 255, 0.8)

.ld-over-inverse > .ld 
  color: rgba(255, 255, 255, 0.8)

.ld-over-inverse:before 
  background: rgba(0, 0, 0, 0.6)

.ld-over-full-inverse > .ld 
  color: rgba(255, 255, 255, 0.8)

.ld-over-full-inverse:before 
  background: rgba(0, 0, 0, 0.6)

@keyframes ld-spin 
  0% 
    animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
    transform: rotate(0);
  100% 
    transform: rotate(360deg);
  

.ld.ld-spin 
  animation: ld-spin 1s infinite linear;

.ld-ring 
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
  box-sizing: content-box;


.ld-ring:after 
  content: ' ';
  display: block;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
  transform-origin: 0 0;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;

.ld-ring:after 
  border-radius: 50%;
  border: 0.3em solid currentColor;
  border-left-color: transparent;

