// Form

form
    @applu w-full
    display: block

select,
input:not([type="checkbox"]):not([type="radio"]),
textarea
    @apply w-full
    @apply rounded
    @apply border
    @apply border-solid
    @apply border-leaf
    @apply bg-snow
    @apply mb-5
    @apply px-3
    @apply py-2

textarea
    height: 346px
