.leaflet-container {
  @apply w-full;
  @apply max-w-full;
  @apply m-0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 80px;

  .marker-cluster-large,
  .marker-cluster-large div {
    background-color: transparent;
  }
  .marker-cluster-medium,
  .marker-cluster-medium div {
    background-color: transparent;
  }
  .marker-cluster-small,
  .marker-cluster-small div {
    background-color: transparent;
  }
  .marker-cluster-medium {
    width: auto !important;
  }
  .marker-cluster-medium > div {
    position: absolute;
    bottom: 0;
    text-align: center;

    .marker-cluster-label {
      display: none;
    }
    &:hover {
      .marker-cluster-label {
        display: block;
        position: absolute;
        top: -30px;
        left: 0;
        right: 0;
        margin: 0;
        padding: 5px;
        background: #968585;
        border-radius: 30px;
        color: white;
      }
    }
  }
}
.needs-counties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 10px auto 40px auto;
  div {
    font-weight: bold;
    cursor: pointer;
  }
}
.pin-services > p {
  @apply relative;
  margin-left: 35px;

  &:before {
    @apply absolute;
    content: '';
    background-image: url('../../images/icon_servicii.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: -30px;
    width: 18px;
    height: 100%;
  }
}
.pin-services > ul {
  @apply relative;

  li:before {
    @apply text-brown;
    content: '▶';
    margin-right: 5px;
  }
}
.pin-eval {
  span.average-rateing {
    @apply font-semibold;
    @apply inline-block;
    font-size: 22px;
    @apply text-celeste;
  }
  .rating-parent {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    position: relative;
    border-radius: 10px;
    margin-left: 20px;

    &:before {
      content: '';
      border: 2px solid #6fbbb7;
      line-height: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      @apply bg-snow;
    }
    .rating-child {
      display: inline-block;
      overflow-x: hidden;
      line-height: 0;
    }
  }
  .dv-star-rating {
    display: inline-flex !important;
    line-height: 0;

    label {
      line-height: 0;
      position: relative;

      &:after {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        @apply bg-snow;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
    .rating-icon {
      line-height: 0;
      display: inline-block;
      color: inherit;
      width: 18px;
      height: 18px;
      @apply bg-celeste;
    }
  }
}
.pin-address,
.pin-phone,
.pin-web,
.pin-email {
  overflow: hidden;
  p {
    @apply relative;
    margin-left: 35px;

    &:before {
      @apply absolute;
      content: '';
      background-size: contain;
      background-repeat: no-repeat;
      top: 3px;
      left: -30px;
      width: 18px;
      height: 100%;
    }
  }
  span,
  a {
    display: block;
    margin-left: 35px;
    width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.pin-email {
  p {
    &:before {
      background-image: url('../../images/icon_mail.svg');
    }
  }
}
.pin-address {
  p {
    &:before {
      background-image: url('../../images/icon_location.svg');
    }
  }
}
.pin-phone {
  p {
    &:before {
      background-image: url('../../images/icon_phone.svg');
    }
  }
  span {
    display: block;
  }
}
.pin-web {
  p {
    &:before {
      background-image: url('../../images/icon_link.svg');
    }
  }
}
.map-marker-popup {
  position: fixed;
  height: 70vh;
  top: 30vh;
  left: 0;
  z-index: 9999;
  width: 375px;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  // @apply bg-transparent
  &.needs {
    position: relative;
    margin: 0px auto 20px auto;
    width: 600px;
    height: calc(100vh - 100px);
    top: 100px;
    .content {
      background: #fff;
      padding: 1rem;
      h1 {
        margin-bottom: 1rem;
      }
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        border-bottom: solid 1px #dadada;
      }
    }
  }
  @screen md {
    height: calc(100vh - 250px);
    top: 250px;
    &.needs {
      height: calc(100vh - 50px);
      top: 140px;
    }
  }
  @screen lg {
    height: calc(100vh - 170px);
    top: 170px;
    &.needs {
      height: calc(100vh - 60px);
      top: 40px;
    }
  }
  @screen xl {
    height: calc(100vh - 115px);
    top: 115px;
    &.needs {
      height: calc(100vh - 115px);
    }
    top: 115px;
  }

  .close-map-marker-popup {
    @apply bg-snow;
    @apply rounded-full;
    @apply absolute;
    cursor: pointer;
    padding: 10px;
    width: auto;
    top: 20px;
    right: 20px;

    .pin-address,
    .pin-phone,
    .pin-web {
      overflow: hidden;
      p {
        @apply relative;
        margin-left: 35px;

        &:before {
          @apply absolute;
          content: '';
          background-size: contain;
          background-repeat: no-repeat;
          top: 3px;
          left: -30px;
          width: 18px;
          height: 100%;
        }
      }
      span,
      a {
        display: block;
        margin-left: 35px;
        width: 280px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .pin-address {
      p {
        &:before {
          background-image: url('../../images/icon_location.svg');
        }
      }
    }
    .pin-phone {
      p {
        &:before {
          background-image: url('../../images/icon_phone.svg');
        }
      }
      span {
        display: block;
      }
    }
    .pin-web {
      p {
        &:before {
          background-image: url('../../images/icon_link.svg');
        }
      }
    }
    .pin-provider {
      padding-top: 45px;
      padding-bottom: 45px;
      @apply border-t-6;
      @apply border-b-6;
      @apply border-leaf;
      @apply bg-snow;
      @apply flex;
      flex-wrap: wrap;

      div {
        @apply p-0;
        @apply w-full;

        &:nth-child(2) > p {
          vertical-align: text-top;
        }
        p:nth-child(odd) {
          font-weight: normal;
          display: inline-block;
          width: 50%;
          text-align: right;
        }
        p:nth-child(even) {
          @apply pl-2;
          @apply font-semibold;
          display: inline-block;
          width: 50%;
          text-align: left;
        }
        &:nth-child(1) > p,
        &:nth-child(3) > p,
        &:nth-child(7) > p {
          padding-bottom: 20px;
        }
      }
    }
  }
}
.filter-menu {
  width: 60px;
  height: 50px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 121px;
  background-color: #978585;
  z-index: 9999;
  @apply rounded-bl-full;
  @apply rounded-tl-full;

  &[data-open='true'] {
    display: none;
  }
  &:before {
    content: '';
    width: 9px;
    height: calc(100% - 100px);
    display: block;
    top: 100px;
    right: 0;
    position: fixed;
    @apply bg-burg;
  }
  svg {
    transform: rotate(180deg);
    margin-right: 14px;
    margin-top: 17px;
  }
  .filter-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    & + div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100% !important;
      cursor: pointer;
    }
  }
}
.map-drawer {
  .drawer-content-wrapper {
    background-color: rgba(151, 133, 133, 0.8);

    > div {
      position: relative;
      overflow: initial;

      .close {
        width: 60px;
        height: 50px;
        position: absolute;
        z-index: 1;
        top: 25px;
        left: -60px;
        cursor: pointer;
        @apply rounded-bl-full;
        @apply rounded-tl-full;
        @apply bg-burg;

        svg {
          margin-left: 14px;
          margin-top: 17px;
        }
      }
    }
    .select-options {
      margin-top: 79px;

      div[class*='-container'] {
        font-family: Montserrat;
        font-size: 16px;
        max-width: 270px;
        margin: 5px auto;
        background: white;

        div[class*='-control'] {
          border: 0;

          span[class*='-indicatorSeparator'] {
            width: 0;
          }
          div[class*='-indicatorContainer'] {
            padding: 0;
            background: #cee6c1;
            color: #6fbbb7;
          }
        }
      }
    }
  }
}
.select-options {
  @screen md {
    position: absolute;
    right: 10px;
    top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @screen xl {
    top: 150px;
  }

  .select-container {
    position: relative;

    &:first-of-type {
      div[class*='-container'] {
        div[class*='-control'] {
          border: 1px solid transparent;
          @apply rounded-bl-full;
          @apply rounded-tl-full;

          div[class*='-Input'] {
            div {
              input {
                padding-left: 36px !important;
              }
            }
          }
        }
      }
      label {
        left: 36px;
        min-width: 144px;
      }
      &:after {
        display: none;
      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      width: 1px;
      height: 31px;
      background: #c4c3c3;
      display: block;
      position: absolute;
      top: 10px;
    }
    label {
      position: absolute;
      top: -15px;
      left: 8px;
      min-width: 174px;
      font-size: 10px;
      padding-left: 4px;
      background-color: #c4c3c3;
    }
  }
  div[class*='-container'] {
    font-family: Montserrat;
    font-size: 16px;
    max-width: 270px;
    margin-bottom: 15px;
    @apply bg-transparent;

    @screen xl {
      margin: 0 auto;
    }

    div[class*='-control'] {
      border: 1px solid transparent;
      border-radius: 0;
      @apply bg-white;

      div[class*='-singleValue'] {
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 20px);
      }
      input {
        min-width: 128px !important;
        margin-bottom: 0;
        padding-left: 7px !important;
        padding-top: 6px !important;
      }
      > div > div:nth-of-type(2) {
        min-height: 40px;
      }
      div[class*='-IndicatorsContainer'] {
        padding-right: 20px;

        span[class*='-indicatorSeparator'] {
          width: 0;
        }
        div[class*='-indicatorContainer'] {
          padding: 0;
          color: #6fbbb7;
        }
      }
    }
  }
  .pin-number {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    width: max-content;
    padding-left: 20px;
    margin-bottom: 10px;

    @screen md {
      @apply rounded-br-full;
      @apply rounded-tr-full;
      padding-left: initial;
      padding-right: 38px;
      border: 1px solid transparent;
      width: 125px;
      line-height: 48px;
      text-align: right;
      background-color: #edf7ef !important;
      margin-bottom: 30px !important;
    }

    @screen xl {
      margin-bottom: 0 !important;
    }

    &:before {
      content: '';
      background-image: url('../../images/map_icon_markerw.svg');
      position: absolute;
      display: block;
      height: 23px;
      width: 19px;
      background-size: contain;
      top: 2px;
      right: -28px;

      @screen md {
        top: 13px;
        right: 13px;
        background-image: url('../../images/map_icon_markerg.svg');
      }
    }
    label {
      line-height: initial;
      font-weight: initial;
      min-width: 82px;
      text-align: initial;
    }
  }
}
.map-filters {
  display: none;

  &.drawer-open {
    display: block;
  }
}
