.page-review {
  .dv-star-rating {
    width: 240px;
    height: 60px;
    @apply mx-auto;
    margin-bottom: 0.5rem;
    label {
      padding-right: 9px;

      span {
        @apply relative;
        @apply rounded-full;
        border: 4px solid $color-burg;
        padding: 0 3px;
        line-height: 19px;
        font-size: 20.5px;
      }
      &:first-of-type,
      &:last-of-type {
        span {
          &:after {
            content: '';
            bottom: -48px;
            left: -20%;
            @apply absolute;
            @apply text-burg;
            text-align: center;
            font-family: 'Koho';
            font-size: 0.875rem;
          }
        }
      }
      &:first-of-type {
        span {
          &:after {
            content: 'Foarte bine';
          }
        }
      }
      &:last-of-type {
        span {
          &:after {
            content: 'Foarte rău';
          }
        }
      }
    }
  }
}
