.page-search-reesult
    .ais-InstantSearch
        margin-top: -1rem
        padding-top: 2rem
        &:before
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            height: 284px
            width: 100vw
            z-index: -1
            @apply bg-snow

        &:after
            content: ''
            height: 6px
            width: 100vw
            background-color: #CEE6C1
            display: block
            top: 284px
            left: 0
            position: absolute
            z-index: 0

        .seacrh-header
            display: inline-block
            margin-bottom: 30px
            @apply bg-snow
            width: 100vw
            margin: -1.3em
            padding-bottom: 26px

            @screen xl
                width: 100%

    .react-autosuggest__input,.ais-SearchBox-form
        border: 1px solid #CEE6C1
        @apply bg-white
        width: 88vw
        @apply rounded-full
        font-family: KoHo
        height: 50px
        padding-left: 9vw
        position: relative
        margin: 26px auto

        @screen md
            width: 88vw
            padding-left: 7vw

        @screen xl
            width: 94vw
            margin: 26px auto
            width: 770px
            padding-left: 26px

        input:not([type="checkbox"]), input:not([type="radio"])
            border: 0
            @apply bg-transparent
            line-height: 32px

        .ais-SearchBox-submit
            display: none

    .react-autosuggest__container
        position: relative
        width: 94vw
        padding-left: 1.3em

    .ais-SearchBox-form
        position: relative

        &:before
            content: ''
            background-image: url('../../images/icon_search.svg')
            background-size: 22.5px 22.5px
            height: 22.5px
            width: 22.5px
            position: absolute
            background-repeat: no-repeat
            top: 12px
            left: 4vw
            z-index: 9
            @screen md
                background-size: 23.5px 23.5px
                height: 23.5px
                width: 23.5px
                left: 2%
            @screen xl
                background-size: 27px 27px
                height: 27px
                width: 27px
                left: 1%

    .ais-PoweredBy
        position: absolute
        top: 120px
        right: 34px

        @screen md
            top: 112px
            right: 72px

        @screen xl
            right: 370px

        .ais-PoweredBy-text
            font-size: 14px

        .ais-PoweredBy-link
            display: inline-block
            margin-top: -12px
            svg
                width: 70px
                margin-bottom: -8px

    .ais-SearchBox-reset
        width: 0
        position: absolute
        top: 0
        right: 0

        svg
            display: none

        &:after
            content: ''
            background-image: url('../../images/icon_close4.svg')
            background-size: 17px
            position: absolute
            background-repeat: no-repeat
            background-position: center
            top: 7px
            right: 1.2vw
            z-index: 9
            @apply bg-snow
            padding: 18px
            @apply rounded-full

            @screen md
                right: 6px

    &[placeholder], &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
    text-overflow: ellipsis

    &::-webkit-input-placeholder
        @apply text-black
    &::-moz-placeholder
        @apply text-black
    &:-moz-placeholder
        @apply text-black
    &:-ms-input-placeholder
        @apply text-black

    .search-result-wrapper
        .ais-Menu-list 
            @apply bg-snow
            display: flex
            margin: 0 -1.3em 45px
            max-width: 100vw
            height: 76px
            overflow-x: scroll
            overflow-y: unset
            position: relative

        .ais-Menu-item
            min-width: 270px
            margin-left: 26px
            z-index: 1
            cursor: pointer
            position: relative

            .ais-Menu-link
                display: flex
                flex-direction: row-reverse
                text-decoration: none
                position: relative

            &.ais-Menu-item--selected:before
                @apply bg-transparent
                @apply bg-white
                content: ''
                width: 100%
                height: 60px
                display: block
                position: absolute
                z-index: 0
                bottom: 0

            .ais-Menu-count
                @apply bg-leaf
                @apply rounded-l-full
                min-height: 50px
                line-height: 38px
                width: 70px
                display: inline-block
                padding: 6px 6px 6px 16px
                vertical-align: top
                text-align: right
                font-size: 18px
                @apply font-semibold
                font-family: 'Montserrat'

            .ais-Menu-label
                display: inline-block
                min-height: 50px
                line-height: 50px
                min-width: 200px
                @apply bg-white
                @apply rounded-r-full
                vertical-align: top
                font-family: 'Montserrat'
                font-size: 16px

                &.tab-icon-articles:before,&.tab-icon-pages:before,&.tab-icon-providers:before
                    background-repeat: no-repeat
                    display: inline-block
                    content: ''

                &.tab-icon-articles:before
                    background-size: 24px 24px
                    background-position: 7px 0
                    width: 38px
                    height: 24px
                    margin-bottom: -6px
                    background-image: url('../../images/icon_all.svg')

                &.tab-icon-pages:before
                    background-repeat: no-repeat
                    background-size: 24px 24px
                    background-position: 7px 0
                    width: 38px
                    height: 24px
                    margin-bottom: -6px
                    background-image: url('../../images/icon_all.svg')

                &.tab-icon-providers:before
                    background-repeat: no-repeat
                    background-size: 24px 24px
                    background-position: 7px 0
                    width: 38px
                    height: 24px
                    margin-bottom: -6px
                    background-image: url('../../images/icon_all.svg')

            &:last-of-type
                margin-right: 26px

        .ais-RefinementList-item

            .ais-RefinementList-label
                display: flex
                flex-direction: row-reverse
                margin-bottom: 8px

                input
                    display: none

                .ais-RefinementList-labelText
                    display: inline-block
                    min-height: 50px
                    line-height: 50px
                    min-width: 200px
                    @apply bg-snow
                    @apply rounded-r-full
                    font-family: 'Montserrat'
                    font-size: 16px
                    padding-left: 30px

                .ais-RefinementList-count
                    display: inline-block
                    min-height: 50px
                    line-height: 50px
                    min-width: 70px
                    max-width: 70px
                    @apply bg-white
                    border: 1px solid
                    @apply border-snow
                    @apply rounded-l-full
                    font-family: 'Montserrat'
                    font-size: 18px
                    @apply font-semibold
                    text-align: right
                    padding-right: 6px

            &.ais-RefinementList-item--selected

                .ais-RefinementList-count
                    @apply bg-snow
                    padding-left: 50px
                    margin-left: -10px
                    max-width: 80px
                    @apply rounded-none

    .ais-Highlight-highlighted
        @apply bg-snow

    .hit-name
        @apply font-semibold
        font-family: 'Montserrat'

    .hit-summary
        font-family: 'Koho'
        font-size: 14px
        margin: 15px 0

    .left-panel
        
        @screen md
            float: left
            width: 57vw
            max-width: 884px
            margin-top: 75px

        @screen xl
            width: 73vw


        .card-servicii,
        .card-noutăți,
        .card-pagini
            float: left
            width: 100%
            margin: 10px 0
            padding: 0 10px 10px 60px
            position: relative
            border-bottom: 1px solid
            @apply border-leaf

            @screen md
                max-width: 470px

            @screen xl
                max-width: 670px

            a
                text-decoration: none

            .small
                margin: 0
                @apply bg-snow

                @screen md
                    width: 170px

            &:first-of-type
                margin-top: 0

            &:before
                position: absolute
                content: ''
                background-repeat: no-repeat
                background-size: contain
                top: 0
                left: 0

        .card-servicii
            &:before
                background-image: url('../../images/icon_pin_full.svg')
                height: 50px
                width: 41px


        .card-noutăți, .card-pagini
            &:before
                background-image: url('../../images/icon_news.svg')
                height: 40px
                width: 50px

    .right-panel
        @apply hidden
        
        @screen md
            float: left
            width: 30%
            padding: 0 10px
            border-left: 1px solid
            @apply border-lightbrown
            @apply block
            width: 24vw
            max-width: 300px
            margin-top: 75px

        @screen xl
            max-width: 316px
            width: 26vw
            float: right

        #stats
            text-align: center

        .ais-ClearRefinements
            display: inline-block
            margin: 30px 0

        .filter
            h2
                float: left
                width: 100%
                clear: left
                padding-bottom: 10px
                margin-bottom: 10px
                border-bottom: 1px solid darkred

            .ais-RefinementList
                display: inline-block
                margin-bottom: 20px

    .ais-Pagination
        clear: left
        display: inline-block
        width: 100%
        height: 80px
        text-align: center
        position: relative

        @screen md
            margin: 50px 0

        &:before
            content: 'Pagini cu rezultate:'
            display: block
            width: 100%

        ul
            margin: 0
            position: absolute
            top: 30px

            @screen sm
                top: 50px
                left: 50%
                transform: translateX(-50%)

            li
                float: left
                padding: 0 10px
                margin: 0 auto
                line-height: 1

                .ais-Pagination-link
                    font-family: 'Montserrat'
                    text-decoration: none
                    height: 50px
                    line-height: 50px
                    @apply font-semibold

                .ais-Pagination-link--selected
                    @apply text-celeste

                &:first-of-type
                    margin-left: 0

                &:last-of-type
                    margin-right: 0

            .ais-Pagination-item--previousPage
                margin: 10px 0 0 -20px

                @screen sm
                    margin: 0

                a,
                span
                    transform: rotate(180deg)
                    margin: 0

                    @screen sm
                        margin: 0 100px 0 0


            .ais-Pagination-item--nextPage
                margin: 10px -20px 0 0

                @screen sm
                    margin: 0

                a,
                span
                    margin: 0

                    @screen sm
                        margin: 0 0 0 100px

            .ais-Pagination-item--previousPage,
            .ais-Pagination-item--nextPage
                padding: 0

                a,
                span
                    @apply bg-snow
                    display: block
                    width: 30px
                    height: 30px
                    border-radius: 25px
                    text-indent: 100%
                    overflow: hidden
                    background-image: url('../../images/icon_arrow.svg')
                    background-repeat: no-repeat
                    background-position: center
                    background-size: 60%

                    @screen sm
                        width: 50px
                        height: 50px

                    &:hover
                        @apply bg-celeste
                        background-image: url('../../images/icon_arroww.svg')


            .ais-Pagination-item--disabled
                opacity: .5

            .ais-Pagination-item--firstPage,
            .ais-Pagination-item--lastPage
                display: none

.react-autosuggest__container
    .react-autosuggest__suggestion
        &.react-autosuggest__suggestion--highlighted
            @apply bg-snow
