@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/form';
@import 'components/map';
@import 'components/main';
@import 'components/homepage';
@import 'components/aboutus';
@import 'components/circular_progress_bar';
@import 'components/blog_post';
@import 'components/blog';
@import 'components/contact';
@import 'components/autocomplete';
@import 'components/search_results';
@import 'components/statistics';
@import 'components/spinner';
@import 'components/tabs';
@import 'components/review';
@import 'components/provider';
@import 'components/buttons';
@import 'components/dialog';
