// Variables

// START ...... -> this is example
// Colors
$color-white: #ffffff;
$color-black: #3a3a3a;
$color-red: #ff0000;
$color-blue: #0000ff;
$color-blue-light: lightblue;
$color-brown: #877272;
$color-burg: #978585;
$color-celeste: #6FBBB7;

$color-primary: $color-red;
$color-secondary: $color-blue;

// Color Forms
$color-button-border: $color-blue-light;
$color-button-color: $color-black;
// END ...... -> this is example

// Fonts
$font-primary: Montserrat;
$font-secondary: KoHo;