@import "tailwindcss/base"
@import "variables"
@import "fonts"
@import "typography"
@import "keyframes"
@import "mixin"
@import "extends"
@import "form"
@import "header"
@import "footer"
@import "main"
@import "custom"

body
    @apply text-lg
    @apply bg-white

h1
    @apply text-3xl
    @apply leading-tight
    @apply font-bold
    @apply text-black
    font-family: Montserrat

h2
    @apply text-1xl
    @apply leading-tight
    @apply font-semibold
    @apply text-black
    font-family: Montserrat

h3
    @apply text-lg
    @apply leading-tight
    @apply font-bold
    @apply text-black
    @apply pb-2
    font-family: Montserrat

h4
    @apply text-lg
    @apply leading-tight
    @apply font-semibold
    @apply text-black
    font-family: Montserrat

p
    font-family: KoHo
    @apply text-lg
    &.notes
        @apply text-sm
        @apply leading-tight

a
    @apply text-black
    @apply underline

    &:hover
        @apply text-celeste

    &.mini
        @apply text-xs

/* elements */
ol
    counter-reset: li
    margin-left: 3.7em
    @screen md
        margin-left: 0

    li
        @apply relative
        font-family: KoHo
        @screen md
            @apply ml-8


    li:before
        counter-increment: li
        content: "0"counter(li)  ". "
        list-style: decimal-leading-zero
        left: -2em
        font-family: Montserrat
        @apply text-leaf
        @apply text-3xxl
        @apply font-bold
        @apply absolute
        @screen md
            left: -1.8em

#search
    &:before
        content: ''
        background-image: url('../../images/icon_search.svg')
        background-size: 22px 22px
        height: 22px
        width: 22px
        position: absolute
        background-repeat: no-repeat
        top: 13px
        left: 13px
        @apply bg-left

.wide
    @apply w-screen
    @apply relative
    @apply pl-8
    left: calc(-50vw + 50%)
    @screen md
        @apply w-auto
        @apply pl-0
        left: auto

/* Circular Progress Bar */
.circularprogressbar
    svg:first-child
        margin: 0 auto

.circle-background,
.circle-progress
    fill: none

.circle-background
    stroke: #6FBAB6

.circle-progress
    stroke: #CDE5C0

.circle-publice
    @apply text-3xxl
    @apply font-thin
    fill: #CDE5C0

.circle-private
    @apply font-thin
    @apply text-3xxl
    fill: #6FBAB6

.circle-total
    @apply text-sm
    @apply text-center

.circle-total-amount
    @apply leading-tight
    @apply text-3xl
    @apply font-hairline
    @apply text-burg
    @apply text-center

/* Blog */
.blog-post
    img
        @apply hidden
        @screen md
            @apply block

    &:first-child
        img
            @apply block

    .excerpt
        @apply text-lg

    .date
        @apply text-celeste
        @apply text-xs


/* sections */
.section
    @apply w-full

    .interior
        @apply px-8

#hero
    @apply bg-snow

.section-list
    @apply relative

@import "tailwindcss/components"

button
    @apply bg-celeste
    @apply rounded-full
    @apply text-center
    width: 320px
    max-width: 86vw
    @apply text-lg
    @apply font-medium
    @apply leading-tight
    @apply py-3
    position: relative
    @apply m-auto
    font-family: Montserrat
    @screen md
        @apply max-w-xs

    &:not(.small):after
        content: ''
        background-image: url('../../images/icon_arroww.svg')
        background-size: 22px 22px
        height: 22px
        width: 22px
        position: absolute
        background-repeat: no-repeat
        top: 13px
        right: 13px
        @apply bg-left

    &:hover
        @apply bg-leaf

    &.social:before
        content: ''
        background-image: url('../../images/icon_FB.svg')
        background-size: 15px 29px
        position: absolute
        background-repeat: no-repeat
        bottom: 1px
        left: 1px
        @apply bg-bottom
        @apply border-white
        @apply border-2
        @apply rounded-full
        @apply pt-10
        @apply px-5

    &.small
        @apply text-sm
        @apply font-bold
        @apply leading-tight
        @apply tracking-wide
        @apply text-left
        @apply bg-white
        @apply uppercase
        @apply w-5/12
        @apply py-1

    &.small.invert
        @apply bg-leaf

    &.small:before
        content: '▶'
        @apply px-3

    &.arrowonly
        @apply bg-snow
        @apply p-4
        height: 38px
        width: 38px
        left: 88%
        bottom: 8%
        @screen md
            left: 0

    &.arrowonly:after
        content: ''
        background-image: url('../../images/icon_arrowg.svg')
        background-size: contain
        height: 26px
        width: 26px
        position: absolute
        background-repeat: no-repeat
        top: 6px
        right: 6px

@import "tailwindcss/utilities"

header
    margin-top: 20px
    height: 80px

    .menu_icon
        float: right
        margin-top: 26px
        margin-right: 26px

    .nav-header
        @apply hidden

footer
    @apply bg-burg
    @apply text-snow
    @apply font-sans

    a
        @apply text-snow
        @apply font-semibold

.leaflet-container
    height: 640px
